/#Decode.cpp#
/#FullParser.cpp#
tmp/
parse/data/
data_management/pos/
doc/
*_whizzy_*
*#*#
*.#*
*.pb.*
*_pb2.py*
*.o
*.pyc
experiments/results/*
experiments/experiments/*
/.*
*.a
*.pdf
*.aux
*.log/
build_config.py
/hypergraph/convert
/hypergraph/test
/fullparser
/core
/experiments/core
/marginals
/parse/convert
/parser
/run_decomp_parser
/run_decomp_tagger
/run_full_parser
/run_parser
/run_phrase_based_lp
/run_phrase_based_viterbi
/run_potts_tagger
/run_tagger
/scarab
/solve_mrf
