import os




build_config = {
  'has_gurobi': False,
  'has_sri':False,
  'include_extra': ( '/home/rcf-40/ar_009/h/lib/include/', os.environ['BOOST_ROOT'] +'/include/', ),
  'lib_extra': ( '/home/rcf-40/ar_009/h/lib/lib/', os.environ['BOOST_ROOT'] +'/lib/', )  
}
