import os




build_config = {
  'has_gurobi': False,
  'svector_path': '/home/srush/Projects/transforest/svector/',
  'sri_path': '/home/srush/libs/sri/include/',
  'sri_lib' :'/home/srush/libs/sri/lib/i686/',
  'lattice_proto_path': '/home/srush/Projects/lattice/gen-cpp/'
}
